@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap");
.main-content {
/*background: url(nature-pic.jpg) no-repeat; */
/* no-repeat center center fixed; */
background-attachment: fixed;
background-position: center center;
background-size: cover;
height: 92vh;
animation: changeBg ease 15s infinite;
animation-direction: alternate;
}
@keyframes changeBg
{
0%,
100%
{
background-image: url("old-car-pic.jpg");
}
25%
{
background-image: url("nature-pic.jpg");
}
50%
{
background-image: url("sunset-pic.jpg")
}
75%
{
background-image: url("circle-pic.jpg");
}

}
* {
box-sizing: border-box;
margin: 0;
padding: 0;
font-family: Helvetica;
}
.a
{
word-spacing: 30px;
}
i
{
    cursor: pointer;
}
.logo-container
{
    display: flex;
    align-items: center;
    justify-content: center;
}
.picture-content
{
    display:flex;
    flex-direction: column;
    align-items: center;
}
.main-head
{
    font-size: 56px;
    line-height: 56px;
    font-weight: 600;
    margin:0.67em 0;
    color: #fff;
    text-align:center;
}
.flickr-logo
{
    height: 25px;
    margin-left: 20px;
    margin-right: 5px;
    padding: 0;
    background-size: contain;
    font-size:56px;
}
.logo 
{
    padding: 0;
    margin-left: 5px;
    color:#fff;
    letter-spacing: 0.75px;
    font-family: Roboto;
    font-size: 26px;
    font-weight: 700;
}
nav
{
    background:rgba(0, 0, 0, 0.25);
    display:flex;
    justify-content: space-between;
    align-items:center;
    height: 64px;
}
.nav-input i
{
    position: relative;
    left:30px;
    top: 2px;
}
.nav-input > input
{
    background-color:whitesmoke;
    border-radius: 3px;
    height: 33px;
    font-size:14px;
    line-height: 20px;
    border: 0;
    box-shadow:none;
    width:800px;
    color:-internal-light-dark(black,white);
    letter-spacing: normal;
    word-spacing:normal;
    padding-left: 40px;
}
.nav-btns > button
{
    border: none;
}
.log-in
{
    background: none;
    color: white;
    margin-right:25px;
    font-size: 15px;
}
.sign-up
{
    margin-right: 25px;
    background-color: #fff;
    color: #000;
    padding: 7px 20px;
    font-size: 15px;
    font-weight: 600;
    text-align:center;
    cursor: pointer;
    border-radius: 3px;
}
.main-head
{
    font-size: 56px;
   line-height: 56px;
   font-weight: 600;
   margin: 0.67em 0;
 color: #fff;
 text-align: center;
}
.picture-content
{
    display:flex;
    flex-direction: column;
    align-items:center;
}
.subheader
{
    margin-bottom: 50px;
    font-size:26px;
    line-height: 32px;
    font-weight: 600;
    text-align: center;
    color:#fff;
    display: block;
    width:50%;
    margin:lem auto;
}
.start-btn
{
height: 64px;
line-height: 64px;
font-size: 24px;
font-weight: 800;
color: #000;
padding: 0 20px;
vertical-align: top;
text-align: center;
text-decoration: none;
border-radius: 3px;
border: none;
cursor: pointer;
margin-top: 20px;
}
footer
{
background-color: #000;
color: hsla(0, 0%, 100%, 0.6);
font-size: 14px;
line-height: 1.2em;
text-align: center;
height: 8vh;
display: flex;
align-items: center;
justify-content: space-around;
word-spacing: 30px;
}
.ft-link
{
color: hsla(0, 0%, 100%, 0.6);
cursor: pointer;
text-decoration: none;
text-align: center;
list-style: none;
font-size: 14px;
line-height: 1.2em;
}
.fa {
padding: 20px;
font-size: 30px;
width: 50px;
text-align: center;
text-decoration: none;
}
.fa:hover {
opacity: 0.7;
}
.fa-facebook {
background: #3B5998;
color: white;
}
.fa-twitter {
background: #55ACEE;
color: white;
}
.fa-instagram
{
background: grey;
color:white;
}